					<div class="page">
						<div class="row">
							<div class="col-md-9">
								<div class="slider">
									<ul class="slides">
										<li><a href="#"><img src="dummy/slide-1.jpg" alt="Slide 1"></a></li>
										<li><a href="#"><img src="dummy/slide-2.jpg" alt="Slide 2"></a></li>
										<li><a href="#"><img src="dummy/slide-3.jpg" alt="Slide 3"></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3">
								<div class="row">
									<% @most_likes.each do |review| %>
									<div class="col-sm-6 col-md-12">
										<div class="latest-movie">
											<a href="reviews/<%=review.id%>"><%= image_for_review review.image%></a>
										</div>
									</div>
									<%end%>
								</div>
							</div>
						</div> <!-- .row -->
						<div class="row">
							<% @new_reviews.each do |review| %>
								<div class="col-sm-6 col-md-3">
									<div class="latest-movie">
										<a href="reviews/<%=review.id%>"><%= image_for_review review.image%></a>
									</div>
								</div>
							<%end%>
						</div> <!-- .row -->
						
					
					</div>