// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.detail_image{
    width:50%;
    margin:auto;
}

.review-show-page{
    .vote{
        margin-left:15px;
    }
    textarea{
        width: 100%;
        resize: none;
    }
    .comments .delete{
        display:none;
    }
    .comments:hover .delete{
        display: initial;
        color: red !important;
        font-size: 16px;
        font-weight: 700;
    }
    .movie{
        border: 1px solid #ccc;
    }
}
.movie-list{
    .movie{
        .item{
            &:hover{
                border: 1px solid red;
            }
            border: 1px solid #ccc;
            box-shadow: 1px 1px 1px #888888;
            figure{
                padding:10px;
            }
            .movie-title{
                text-align:center;
                a{
                    color: red;
                    font-weight:bold;
                }
            }
            .like_area{
                color:blue;
                margin-left:20px;
                margin-bottom:10px;
            }
            a{
                &:hover{
                    
                }
            }
        }
     
    .detail_image{
        width:30%;
    }
}