// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.detail_image{
        width: 56%;
    margin-left: 48px;
}
.edit{
    margin-left: 134px;
    width:50%;
    margin:auto;
}

.review-show-page{
    .vote{
        margin-left:15px;
    }
    textarea{
        width: 100%;
        resize: none;
    }
    .comments .delete{
        display:none;
    }
    .comments:hover .delete{
        display: initial;
        color: red !important;
        font-size: 16px;
        font-weight: 700;
    }
}